---
const my_num = 1;

const myObj = {
  name: 'nico',
  age: 100,
};

const myArray = ['Nico 1', 'Nico 2'];

import people from '../data/sample.json';
import BaseLayout from '../layouts/BaseLayout.astro';

const req = await fetch('https://jsonplaceholder.typicode.com/todos/1');
const data = await req.json();
---
<BaseLayout title='Home'>
		<h1>Astro</h1>
    <h1>Astro {myObj.age}</h1>
	<p>
		{myArray.map((name) => (
			<p>{name}</p>
			<p>Hi</p>
		))}
	</p>
	{
		people.map((p) => (
			<p>{p.name}</p>
			<p>{p.age}</p>
			<p>{p.email}</p>
			<p>{p.occupation}</p>
		))
	}


	<p>Astro {data.title}</p>
	 </BaseLayout>

<script>
	import {consoleMe} from '../libs/util';
	consoleMe();
	const heading = document.querySelector('h1') as HTMLHeadingElement;

	heading.addEventListener('click', () => {
		console.log('heading');
	});
</script>