---
const my_num = 1;

const myObj = {
  name: 'nico',
  age: 100,
};

const myArray = ['Nico 1', 'Nico 2'];

import people from '../data/sample.json';
console.log('hey');

const req = await fetch('https://jsonplaceholder.typicode.com/todos/1');
const data = await req.json();
console.log(data);
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h1>Astro {myObj.age}</h1>
	<p>
		{myArray.map((name) => (
			<p>{name}</p>
			<p>Hi</p>
		))}
	</p>
	{
		people.map((p) => (
			<p>{p.name}</p>
			<p>{p.age}</p>
			<p>{p.email}</p>
			<p>{p.occupation}</p>
		))
	}


	<p>Astro {data.title}</p>
  </body>
</html>

